/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    height: 100vh;
    display: flex;
}

/* Main Content */
.main-content {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Left Side: Navbar + Login */
.left-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Navbar */
.navbar {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo {
    display: flex;
    flex-direction: row;
}
.logoCompany {
    transition: all 0.5s ease;   
}
.company-main {
    padding: 12px 4px;
    font-size: 12px;
}
.logo img {
    width: 50px;
    border-radius: 50%;
    animation: logoAnimate 6s ease-in-out;
    animation-delay: 2s;
}

.enroll {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
}

.enroll p {
    margin-right: 10px;
    color: #000;
    font-size: 14px;
}

.enroll-btn {
    background-color: #fff;
    color: #4CAF50;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
}

.enroll-btn:hover {
    background-color: #ddd;
}

/* Login Form Container */
.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}
.login-title > h2 {
    padding: 30px 0 0 0;
    font-size: 30px;
}
.login-title > p {
    padding: 0px 0 30px 0;
    font-size: 12px;
    text-align: center;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling for input group */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

/* Styling for input group */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

/* Styling for input fields */
.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* Initial state of the floating label */
.input-group > .floating-label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    pointer-events: none;
    transition: 0.3s ease all;

}

.input-group input:focus + .floating-label,
.input-group input:not(:placeholder-shown) + .floating-label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #4CAF50;
}

/* Add a focus effect to the input border */
.input-group input:focus {
    border-color: #4CAF50;
}
/* Remember Me checkbox styling */
.remember-me {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
    background-color: #fff;
    color: #45a049;
}

.remember-me label {
    font-size: 14px;
    color: #555;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation-name: moveIcon;
    animation-duration: 4s;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
    display: none;
}

/* Right Side: Image */
.image-container {
    width: 50%;
    height: 100vh;
    text-align: center;
    align-items: center;
    padding: 20px 0;
    animation: animateImage 8s ease-in-out;

}

.image-container img {
    width: 95%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
/* Basic reset for the footer */
footer {
    background-color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 10px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 24%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.footer-section h2, .footer-section h3 {
    margin-top: 0;
    text-align: left;
}

.footer-section a {
    color: #4CAF50;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 10px 0;
}

.footer-section p {
    margin: 5px 0;
}


.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
}


@keyframes logoAnimate {
    0% {
        width: 0px;
        position: absolute;
        top: 50%;
        left: 50%; 
        z-index: 1000;
    }
    50% {
        width: 20px;
        position: absolute;
        top: 50%;
        left: 50%; 
        z-index: 1000;
    }
    75% {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%; 
        z-index: 1000;
    }
    100% {
        position: absolute;
        top: 0%;
        left: 0%; 
        z-index: 1000;
        width: 50px;
    }
}
@keyframes animateImage {
    0% {
        transform: scaleX(0);
        transform: scaleY(0);
        position: fixed;
        left: 25px;
        top: 0%;
        width: 0%;
    }
    50% {
        transform: scaleX(2);
        position: fixed;
        width: 50%;
    }

    100% {
        transform: scaleX(1);
        position: fixed;
        left: 50%;
        top: 0%;
        width: 50%;
    }
}
